*{
    margin: 0;
    padding: 0;
}
header{
    background-color: gray;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 25px;
    border: none;
}

main{
    border: 1px solid blue;
    background-color: gray;
    color: white;
}

main .pokemon-card{
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    margin: 10px;
    padding: 10px;
    width: 160px;
}

main .pokemon-card .pokemon-types{
    list-style: none;
    display: flex;
    justify-content: left;
}
main .pokemon-card .pokemon-types li,
main .pokemon-card .pokemon-name-id
{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}
main .pokemon-card .pokemon-types .type-gram{
    background-color: darkgreen;
}
main .pokemon-card .pokemon-types .type-poison{
    background-color: purple;
}
main .pokemon-card .pokemon-types .type-fire{
    background-color: orangered;
}
main .pokemon-card .pokemon-types .type-water{
    background-color: blue;
}
main .pokemon-card .pokemon-types .type-insect{
    background-color: rgb(110, 155, 42);
}

main .pokemon-card .pokemon-name-id,
main .pokemon-card .pokemon-name-id span
{
    background-color: darkgrey;
}